@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   --color-primary: #25716E;
  --color-AquaBlue: #56E1E8;
  --color-AquaBlueLight: #56E1E880;
  --color-MintGreen: #5CE3A5;  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}
.container{
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

