@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   --color-primary: #25716E;
  --color-AquaBlue: #56E1E8;
  --color-AquaBlueLight: #56E1E880;
  --color-MintGreen: #5CE3A5;  

}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}
.container{
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


@keyframes enter {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



.animate-enter {
  animation: enter 0.3s ease-out;
}



.toast-progress {
  width: 100%;
  animation: progress linear forwards;
}

@keyframes progress {
  from { width: 100%; }
  to { width: 0%; }
}